
    html {
      font-family: sans-serif;
    }
    body {
      width: 50%;
      max-width: 800px;
      min-width: 480px;
      margin: 0 auto;
    }
    .lastResult {
      color:antiquewhite;
      padding: 3px;
    }
    h1{
      color: brown;
    }
    label {
      color: brown;
    }
 
